.trip_logo {
  box-sizing: border-box;
  background-image: url(../assets/triple2x.png);
  background-repeat: no-repeat;
  text-align: center;
  font-family: sans-serif;
  color: rgba(58, 58, 58, 0.7);
}

.google_logo {
  display: inline-block;
  font-family: sans-serif;
  background-image: url(../assets/play-store2x.png);
  background-position: left top;
  background-repeat: no-repeat;
  color: rgba(58, 58, 58, 0.8);
  font-weight: bold;
}

.apple_logo {
  display: inline-block;
  font-family: sans-serif;
  background-image: url(../assets/badge-apple4x.png);
  background-position: left top;
  background-repeat: no-repeat;
  color: rgba(58, 58, 58, 0.8);
  font-weight: bold;
}

.fa {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 10%, 0);
    }
    100% {
      opacity: 100;
      animation-duration: 6s;
    }
  }
}
